<div class="fonds-container">
  <div class="title">
    <h2>Support Ukraine</h2>
    <svg class="icon-gerb fond-svg">
      <use href="../img/icons.svg#icon-gerb"></use>
    </svg>
  </div>

  <ul class="fonds-list">
    <li>
      <a href="">
        <span>01</span>
        <img
          src="../img/fonds/save-the-children_1x.png"
          srcset="../img/fonds/save-the-children_1x.png 1x,
                  ../img/fonds/save-the-children_2x.png 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>02</span>
        <img
          src="../img/fonds/project-hope_1x.png"
          srcset="../img/fonds/project-hope_1x.png 1x,
                  ../img/fonds/project-hope_2x 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>03</span>
        <img
          src="../img/fonds/int-medical-corps_1x.png"
          srcset="../img/fonds/int-medical-corps_1x.png 1x,
                  ../img/fonds/int-medical-corps_2x.png 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>04</span>
        <img
          src="../img/fonds/razom_1x.png"
          srcset="../img/fonds/razom_1x.png 1x,
                  ../img/fonds/razom_2x.png 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>05</span>
        <img
          src="../img/fonds/action-ag-hunger_1x.png"
          srcset="../img/fonds/action-ag-hunger_1x.png 1x,
                  ../img/fonds/action-ag-hunger_2x.png 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>06</span>
        <img
          src="../img/fonds/fond-prutyla_1x.png"
          srcset="../img/fonds/fond-prutyla_1x.png 1x,
                  ../img/fonds/fond-prutyla_2x.png 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>07</span>
        <img
          src="../img/fonds/med-sans-front_1x.png"
          srcset="../img/fonds/med-sans-front_1x.png 1x,
                  ../img/fonds/med-sans-front_2x.png 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>08</span>
        <img
          src="../img/fonds/world-vision_1x.png"
          srcset="../img/fonds/world-vision_1x.png 1x,
                  ../img/fonds/world-vision_2x.png 2x"
        >
      </a>
    </li>
    <li>
      <a href="">
        <span>09</span>
        <img
          src="../img/fonds/united24_1x.png"
          srcset="../img/fonds/united24_1x.png 1x,
                  ../img/fonds/united24_2x.png 2x"
        >
      </a>
    </li>
  </ul>

  <button class="scroll-btn">
    <svg class="fond-svg" id="icon-material-symbols">
      <use href="../img/icons.svg#icon-material-symbols"></use>
    </svg>
  </button>
</div>