<div class="fonds-container">
  <div class="title">
    <h2>Support Ukraine</h2>
    <svg class="icon-gerb fond-svg">
      <use href="./img/icons.svg#icon-gerb"></use>
    </svg>
  </div>

  <ul class="fonds-list">
    <li>
      <a
        href="https://www.savethechildren.net/what-we-do/emergencies/war-ukraine"
        target="_blank"
      >
        <span>01</span>
        <img
          srcset="
            ./img/fonds/save-the-children_1x.png 1x,
            ./img/fonds/save-the-children_2x.png 2x
          "
          src="./img/fonds/save-the-children_1x.png"
          alt="Save the Chidren"
          width="129"
          height="32"
        />
      </a>
    </li>
    <li>
      <a href="https://www.projecthope.org/country/ukraine/" target="_blank">
        <span>02</span>
        <img
          src="./img/fonds/project-hope_1x.png"
          srcset="
            ./img/fonds/project-hope_1x.png 1x,
            ./img/fonds/project-hope_2x.png 2x
          "
          alt="Project HOPE"
          width="62"
          height="32"
        />
      </a>
    </li>
    <li>
      <a
        href="https://internationalmedicalcorps.org/country/ukraine/"
        target="_blank"
      >
        <span>03</span>
        <img
          src="./img/fonds/int-medical-corps_1x.png"
          srcset="
            ./img/fonds/int-medical-corps_1x.png 1x,
            ./img/fonds/int-medical-corps_2x.png 2x
          "
          alt="International Medical Corps"
          width="103"
          height="32"
        />
      </a>
    </li>
    <li>
      <a href="https://www.razomforukraine.org/" target="_blank">
        <span>04</span>
        <img
          src="./img/fonds/razom_1x.png"
          srcset="./img/fonds/razom_1x.png 1x, ./img/fonds/razom_2x.png 2x"
          alt="RAZOM"
          width="82"
          height="32"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.actionagainsthunger.org/location/europe/ukraine/"
        target="_blank"
      >
        <span>05</span>
        <img
          src="./img/fonds/action-ag-hunger_1x.png"
          srcset="
            ./img/fonds/action-ag-hunger_1x.png 1x,
            ./img/fonds/action-ag-hunger_2x.png 2x
          "
          alt="Action against hunger"
          width="55"
          height="32"
        />
      </a>
    </li>
    <li>
      <a href="https://prytulafoundation.org/en" target="_blank">
        <span>06</span>
        <img
          src="./img/fonds/fond-prutyla_1x.png"
          srcset="
            ./img/fonds/fond-prytula_1x.png 1x,
            ./img/fonds/fond-prytula_2x.png 2x
          "
          alt="Serhiy Prytula Charity Foundation"
          width="115"
          height="32"
        />
      </a>
    </li>
  </ul>
  <div class="scroll-btn-cont">
    <button class="scroll-btn position-bottom-js">
      <svg class="fond-svg" id="icon-material-symbols">
        <use href="./img/icons.svg#icon-material-symbols"></use>
      </svg>
    </button>
  </div>
</div>
