<header class="header">
  <nav class="nav-list">
    <a class="logo-name" href="index.html">
      <img src="logo.svg" />
      <span>Bookshelf</span>
    </a>

    <ul>
      <li>
        <a href="./index.html">
          <span class="text-home">HOME</span>
        </a>
      </li>
      <li>
        <a href="./shoppingListPage.html">
          <span>SHOPPING LIST</span>
          <svg class="icon-uil-cart">
            <use href="./img/icons.svg#icon-uil-cart"></use>
          </svg>
        </a>
      </li>
    </ul>

    <load src="/components/themeButton/themeButton.html" />
  </nav>
</header>
