<header class="header">
  <nav class="nav-list">
    <a href="">
      <img src="logo.svg">\
      <span>Bookshelf</span>
    </a>

    <ul>
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">
          <span>SHOPPING LIST</span>
          <svg class="icon-uil-cart">
            <use href="../img/icons.svg#icon-uil-cart"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div>
      <load src="/components/themeButton/themeButton.html" />
    </div>
  </nav>

</header>