<article class="main-container">
  <h1>Best Sellers <span class="books-word">Books</span></h1>
  <section>
    <a href="">
      <h4>CATEGORY ONE</h4>
    </a>
    <ul>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
    </ul>
    <button class="see-more-btn">SEE MORE</button>
  </section>

  <section>
    <a href="">
      <h4>CATEGORY ONE</h4>
    </a>
    <ul>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
    </ul>
    <button class="see-more-btn">SEE MORE</button>
  </section>

  <section>
    <a href="">
      <h4>CATEGORY ONE</h4>
    </a>
    <ul>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
    </ul>
    <button class="see-more-btn">SEE MORE</button>
  </section>

  <section>
    <a href="">
      <h4>CATEGORY ONE</h4>
    </a>
    <ul>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
      <li>
        <a href="">
          <img src="">
          <p class="book-name">name of book</p>
          <p class="author-name">author</p>
        </a>
      </li>
    </ul>
    <button class="see-more-btn">SEE MORE</button>
  </section>
</article>