.all-categories-cont {
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: scroll;
  width: 356px;
  height: 472px;
  margin-bottom: 86px;

  h3 {
    color: var(--sidebar-all-categories-color);
  }
}
.categories-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: grey;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sidebar-scroll);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: none;
}
