* {
  transition: background-color 0.3s ease-out, color 0.1s ease,
    border-color 0.3s ease;
}

:root {
  --yellow-color: #eac645;
  --violet-color: #4f2ee8;
  --gray-color: #202024;
  --light-gray-color: #b4afaf;
  --dark-color: #111;
  --white-color: #fff;
  --black-color: #000;
  --white-background-color: #f6f6f6;
  --border-color: rgba(79, 46, 232, 0.4);
}

[data-theme='dark'] {
  /* Body */
  --background-color: var(--gray-color);

  /* Header */
  --header-border-color: var(--white-color);
  --header-color: var(--black-color);
  --header-text-color: #f3f3f3;

  /* Sidebar */
  --sidebar-all-categories-color: var(--yellow-color);
  --sidebar-categories-color: #ffffff99;
  --sidebar-scroll: #11111199;

  /* Main */
  --main-text-color: var(--white-color);
  --main-theme-color: var(--gray-color);

  /* Theme switcher */
  --switch-btn-primary-color: #ffe5b5;
  --switch-btn-tertiary-color: var(--white-color);
  --switch-btn-bg-color: #081f37;
  --switch-btn-border-color: var(--white-color);
}

[data-theme='light'] {
  /* Body */
  --background-color: var(--white-background-color);

  /* Header */
  --header-border-color: var(--black-color);
  --header-color: var(--white-color);
  --header-text-color: var(--dark-color);

  /* Sidebar */
  --sidebar-all-categories-color: var(--violet-color);
  --sidebar-categories-color: #11111199;
  --sidebar-scroll: #e0e0e0;

  /* Main */
  --main-text-color: var(--black-color);
  --main-theme-color: var(--white-color);

  /* Theme switcher */
  --switch-btn-primary-color: #fe9f5b;
  --switch-btn-tertiary-color: var(--white-color);
  --switch-btn-bg-color: #acdcee;
  --switch-btn-border-color: var(--black-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
