.fonds-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  align-items: flex-start;
  width: 300px;
  background-image: linear-gradient(rgb(42, 71, 197), #8b59cb, #bd41e2);
  color: white;
  margin: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 90px;
}

.fonds-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
}

.fonds-list li {
  display: flex;
  align-items: center;
  height: 43px;
  padding: 5px;
  width: 100%;
}

.fonds-list a {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-decoration: none;
}

.scroll-btn-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.scroll-btn {
  padding: 10px;
  border-radius: 100px;
  border: none;
  background-color: white;
}

.fond-svg {
  width: 20px;
  fill: white;
}

#icon-material-symbols {
  height: 25px;
  width: 25px;
  stroke: rgb(122, 13, 200);
  fill: rgb(122, 13, 200);
}

.position-bottom-js {
  transform: scaleY(-1);
}

.fonds-list img {
  filter: brightness(0) invert(1);
}
