.fonds-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  align-items: flex-start;
  width: 356px;
  height: 474px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  color: var(--white-color);
  padding: 24px 40px;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.fonds-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 292px;
  margin-bottom: 24px;
}

.fonds-list li {
  display: flex;
  align-items: center;
  height: 43px;
  padding: 5px;
  width: 100%;
}

.fonds-list a {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-decoration: none;
}

.scroll-btn-cont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.scroll-btn {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  border: none;
  background-color: var(--white-color);
}

.fond-svg {
  width: 20px;
  height: 32px;
  fill: var(--white-color);
}

#icon-material-symbols {
  height: 22px;
  width: 22px;
  fill: var(--violet-color);
}

.position-bottom-js {
  transform: scaleY(-1);
}

.fonds-list img {
  filter: brightness(0) invert(1);
}
