.header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border: 2px solid black;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  font-weight: bold;
}

.nav-list {
  padding: 19px 0;
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo-name img {
  margin-right: 10px;
}

.nav-list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.nav-list li {
  margin-left: 20px;
  display: flex;
}

.text-home {
  background-color: #eac645;
  border-radius: 0.9rem;
  padding: 10px 17px;
}

.icon-uil-cart {
  width: 28px;
  height: 28px;
  margin-left: 5px;
  fill: currentColor;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

div {
}
