.header {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  border: 1.5px solid var(--header-border-color);
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  color: var(--header-text-color);
}

.nav-list {
  padding: 19px 0;
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.logo-name {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.logo-name img {
  margin-right: 10px;
}

.nav-list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.nav-list li {
  margin-left: 20px;
  display: flex;
}

.home-link,
.shopping-list-link {
  padding: 10px 17px;
  color: var(--header-text-color);
}

.current-page{
  background-color: var(--yellow-color);
  color: var(--black-color);
  font-weight: 700;
  border-radius: 0.9rem;
}

.icon-uil-cart {
  width: 28px;
  height: 28px;
  margin-left: 5px;
  fill: currentColor;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
