.modal-window {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 579px;
  height: 490px;
  border: 2px solid var(--modal-border-color);
  background-color: var(--modal-background-color);
  border-radius: 18px;
}

.modal-book-info {
  display: flex;
  gap: 24px;
  width: 100%;

  .modal-book-img {
    width: 192px;
    height: 281px;
    border-radius: 8px;
  }

  ul {
    display: flex;
    flex-direction: column;
    width: calc(100% - 192px);
    gap: 20px;

    .name-and-author {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .modal-book-name {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--modal-name-color);
      }

      .modal-book-author {
        font-size: 14px;
        height: 18px;
        letter-spacing: -0.04em;
        font-style: italic;
        color: var(--light-gray-color);
      }
    }

    .modal-book-description {
      color: var(--modal-description-color);
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.04em;
    }

    .modal-links {
      width: 115px;
      height: 32px;
      display: flex;
      gap: 20px;
      align-items: center;

      img {
        filter: grayscale(100%);
      }
      .amazon-img {
        filter: var(--modal-amazon-color);
      }
    }
  }
}

.do-shopping-list-btn {
  width: 100%;
  max-width: 499px;
  height: 64px;
  border-radius: 40px;
  padding: 20px;
  border: 2px solid var(--violet-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  background-color: var(--modal-background-color);
  color: var(--modal-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 8px;
}

.icon-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 18px;
  width: 28px;
  height: 28px;
}

.icon-close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.icon-close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.icon-close:before,
.icon-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--modal-border-color);
  border-radius: 2px;
  transition: width 0.3s ease, height 0.3s ease;
}

.icon-close:hover:before,
.icon-close:hover:after {
  width: 24px;
  height: 2px;
  background-color: var(--violet-color);
}

.icon-close:active:before,
.icon-close:active:after {
  background-color: var(--violet-color);
}

.congratulation-text {
  width: 324px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: var(--modal-congratulation-color);
  margin: 0 auto;
  text-align: center;
}
