/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./common.css');
@import url('./header.css');
@import url('./categories-list.css');
@import url('./fonds.css');
@import url('./best-sellers-cont.css');
@import url('./category-cont.css');
@import url('./modal-window.css');

@import url('./components.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background-color);
}

.content {
  display: flex;
  gap: 40px;
  padding: 40px 24px 72px 24px;

  .sidebar {
    /* flex: 0 0 30%; */
    width: 356px;
  }

  .main {
    flex: 1;
  }
}
